<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.BarCode.Cpp" version="23.2.0" targetFramework="native" />
  <package id="CodePorting.Translator.Cs2Cpp.Framework" version="23.2.0" targetFramework="native" />
  <package id="libmysql-cpp" version="5.7.24" targetFramework="native" />
</packages>